@import url('https://fonts.googleapis.com/css?family=Inconsolata|Merriweather');

:root {
  --brandGreen: hsl(120,100%,50%);

  --brandBlack: hsl(0,0%,1.2%);
  --fontMerri: 'Merriweather', serif;
  --fontIconsolata: 'Inconsolata', monospace;
  --fontMonacoFull: monaco, Consolas, 'Lucida Console', monospace;
}


body {
  background-color: black;
}